html, body {
    height: 100%;
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gray;
}

section{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: #6b2494;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border: 3px solid #1e1e1e;
    margin: 20px;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px 20px;
    background-color: #6b2494;
    color: #FFFFFF;
    text-decoration: none;
    border: 3px solid #1e1e1e;
}

a:hover {
    background-color: #6b249482;
}

footer {
    background-color: #333;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
